absl-py
aiohttp
aioredis
anyio
appnope
argcomplete
argon2-cffi
argon2-cffi-bindings
astroid
astunparse
async-timeout
atomicwrites
attrs
backcall
beautifulsoup4
bleach
blessings
cached-property
cachetools
certifi
cffi
chardet
ci-info
Click
colorama
coloredlogs
colorful
compressed-rtf
configobj
configparser
cryptography
cycler
decorator
defusedxml
dill
distro
dm-tree
docker-pycreds
docutils
docx2txt
ebcdic
EbookLib
entrypoints
et-xmlfile
etelemetry
etils
extract-msg
fastjsonschema
filelock
fitz
Flask
Flask-Cors
flatbuffers
fonttools
funcparserlib
future
fuzzysearch
fuzzywuzzy
gast
gitdb
GitPython
google
google-api-core
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
gpustat
graphviz
grpcio
h5py
hiredis
httplib2
huggingface-hub
humanfriendly
hypothesis
idna
IMAPClient
img2pdf
importlib-metadata
importlib-resources
independentsoft.msg
install
ipykernel
ipython
ipython-genutils
isodate
isort
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
kaggle
keras
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
libclang
lxml
Markdown
MarkupSafe
matplot
matplotlib
mccabe
mido
mistune
more-itertools
msgpack
multidict
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
nose
notebook
notebook-shim
numpy
nvidia-ml-py3
oauthlib
ocrmypdf
olefile
opencensus
opencensus-context
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandocfilters
parse
parso
pathlib
pathtools
pdf2image
pdfminer.six
pexpect
pickleshare
pikepdf
Pillow
pkginfo
pluggy
prometheus-client
promise
prompt-toolkit
protobuf
prov
psutil
ptyprocess
py
py-spy
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycryptodome
pydot
pygame
Pygments
pylint
pyloco
PyMuPDF
pyparsing
PyPDF2
pyrsistent
pytesseract
pytest
python-dateutil
python-docx
python-mnist
python-pptx
python-slugify
python-ta
pytz
pyxnat
PyYAML
pyzmq
ray
rdflib
readme-renderer
redis
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3986
rsa
sacremoses
scikit-fuzzy
scikit-learn
scipy
Send2Trash
sentencepiece
sentry-sdk
shortuuid
simplejson
SimpleWebSocketServer
six
sklearn
smmap
sniffio
sortedcontainers
soupsieve
SpeechRecognition
spinup
SpykeTorch-miladmozafari @ git+https://github.com/miladmozafari/SpykeTorch.git@aa302c77cb61de6ec64e40927313137a9855ec6a
subprocess32
tabula-py
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor
terminado
text-unidecode
textract
threadpoolctl
tika
tinycss2
tokenizers
toml
torch
torchvision
torchviz
tornado
tqdm
traitlets
traits
transformers @ git+https://github.com/huggingface/transformers.git@96881729ce83cfc8e5fa04c903ee4296ad17cfbb
twine
typed-ast
typing
typing-extensions
tzlocal
urllib3
ushlex
wandb
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
xlrd
XlsxWriter
yarl
zipp