tensorflow
jupyter
jupyterlab
pillow
networkx
scikit-learn
torch
torchvision
transformers
tqdm

cd $SLURM_TMPDIR
git clone -b dev_lucasg https://github.com/RainyFields/COG_v3_shapenet.git
cd ./COG_v3_shapenet

